<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`

  This is just a landing page where there will be links to choose tracks or see an upcoming event posted.
</p>


<div id="app"> </div>

